* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1e1e2f;
  color: white;
  padding: 20px;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;

  .map-container {
    grid-column: 1 / span 4;
    height: 400px;
    background-color: #aaa;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;

    #map {
      height: 100%;
      width: 100%;
    }
  }

  .stat-item {
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: #2d2d3f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
      font-size: 18px;
      margin-bottom: 10px;
    }

    p {
      font-size: 24px;
      font-weight: bold;
    }
  }

  .s1 {
    grid-column: 1;
  }

  .s2 {
    grid-column: 2;
  }

  .s3 {
    grid-column: 3;
  }

  .s4 {
    grid-column: 4;
  }

  .chart-item {
    background-color: #2d2d3f;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    h3 {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }

  .c1 {
    grid-column: 1 / span 2;
    height: 400px;
  }

  .c2 {
    grid-column: 3 / span 2;
    height: 400px;
  }

  canvas {
    align-items: center;
    width: 100% !important;
    height: 100% !important;
  }

  .population {
    background-color: #2d2d3f;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    grid-column: 1 / span 4;
    height: 400px;
  }
}

@media (max-width: 768px) {
  .dashboard {
    grid-template-columns: 1fr;

    .map-container,
    .stat-item,
    .chart-item,
    .population {
      grid-column: 1;
    }
  }
}
