body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;

}

.signup-container {
    background-color: #1e293b;
    padding: 20px 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
}

.signup-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
  color: #e2e8f0;
}

.signup-container label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.signup-container input {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #3d4d70;
    border-radius: 5px;
    background-color: #ffffff; 
    color: #000000; 
    font-size: 14px;
}

.signup-container input::placeholder {
    color: #b0b0c3; 
}

.signup-container button {
    width: 100%;
    padding: 10px;
    background-color: #3b82f6;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signup-container button:hover {
    background-color: #3b82f6;
}

.signup-container p {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #94a3b8
}

.signup-container a {
    color: #3b82f6;
    text-decoration: none;
}

.signup-container a:hover {
    text-decoration: underline;
}
